<div class="container" id="wrap">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-pic">
                    <img src="/assets/img/edward-cisneros-QSa-uv4WJ0k-unsplash-warRoom.jpg" class="img-responsive"
                        alt="people worshipping" style="width:100px;height:75px;">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{currentUser.firstName}} {{currentUser.lastName}}
                    </div>
                    <div class="profile-usertitle-username">
                        {{currentUser.username}}
                    </div>
                    <div class="profile-usertitle-name">
                        {{currentUser.email}}
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
                <div class="userOptions">
                    <ul class="nav">
                        <li class="active">
                            <a routerLink="/addPost">
                                Create Posts</a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <!--Edit profile form-->
                <div class="container" id="wrap">
                    <div class="form-row">
                        <div class="form-group">
                            <!--action attribute (add relative url or delete)-->
                            <form #editProfileForm="ngForm" [formGroup]="updateForm" class="form" role="form"
                                (ngSubmit)="onUpdate()" action="r" method="post" accept-charset="utf-8">
                                <h2>Edit Profile</h2>
                                <div class="form-row">
                                    <div class="col-xs-6 col-md-6">
                                        <h3>Change Name</h3>
                                        <input type="text" name="firstName" class="form-control input-lg"
                                            formControlName="firstName" placeholder="First Name" />
                                        <input type="text" name="lastName" class="form-control input-lg"
                                            placeholder="Last Name" formControlName="lastName" />
                                    </div>
                                </div>
                                <h3>Update Email</h3>
                                <input type="text" name="email" class="form-control input-lg" placeholder="New Email"
                                    formControlName="email" />

                                <h3>Change Username</h3>
                                <input type="text" name="username" class="form-control input-lg"
                                    placeholder="New Username" formControlName="username" />
                                <br />
                                <button class="btn btn-lg btn-primary btn-block editProfile-btn" type="submit">Save
                                    updates</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--End profile edit form-->
            </div>
        </div>
    </div>
</div>