#wrap {
    background-image: linear-gradient(#EAF2EF, #cde7de);
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    border-radius: 6px;
  }

#button {
    margin: .5em;
    float: right;
}
p {
    padding: 1em;
}

.card-header{
    background-color: rgb(226, 225, 225);
    font-size: large;
    font-weight: bolder;
}
.card{
    margin: 2em auto;
    width: auto;
    border-radius: 6px;
    justify-content: center;
}

#card {
    background-image: linear-gradient(#EAF2EF, #cde7de);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.drop{
    background-color: #F8F9FA;
    border-radius: 6px;
    background-color: rgb(226, 225, 225);
}