<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <h3>WarRoom</h3>
      </div>
  
      <!-- Login Form -->
      <form (ngSubmit)="onSubmit()">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" [(ngModel)]="model.login">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="model.password">
        <input type="submit" class="fadeIn fourth" value="Log In" routerLink="/profile">
      </form>
  
      <!-- Create Account -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/signup" title="sign up">Create an Account</a>
      </div>
  
    </div>
  </div>