<div class="container" id="wrap">
	<div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg"
						class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{currentUser.firstName}} {{currentUser.lastName}}
					</div>
					<div class="profile-usertitle-username">
						{{currentUser.username}}
					</div>
					<div class="profile-usertitle-name">
						{{currentUser.email}}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR MENU -->
				<div class="userOptions">
					<ul class="nav">
						<li class="active">
							<!-- modal popup window to add a new post -->
							 <a (click)="triggerModal(postModal)">Create Post</a>
								<ng-template #postModal let-modal >
									<app-add-post id="modal" (postSubmitted)="closeModal()">
										<div class="modal-footer">
											<button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
										  </div>
									</app-add-post>
								</ng-template>
						</li>
						<li>
							<a href="#">
								<i class="glyphicon glyphicon-user"></i>
							Profile Settings </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
			<div class="profile-content d-flex justify-content-center">
				<!-- Posts -->
				<!-- brought in the app-posts selector to display the HTML at this point -->
				<app-posts></app-posts>
			</div>
		</div>
	</div>
</div>