<div class="container" id="wrap">
	<div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-pic">
					<img src="/assets/img/edward-cisneros-QSa-uv4WJ0k-unsplash-warRoom.jpg" class="img-responsive"
						alt="people worshipping" style="width:100px;height:75px;">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{currentUser.firstName}} {{currentUser.lastName}}
					</div>
					<div class="profile-usertitle-username">
						{{currentUser.username}}
					</div>
					<div class="profile-usertitle-name">
						{{currentUser.email}}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR MENU -->
				<div class="userOptions">
					<ul class="nav">
						<li class="active">
							<!-- modal popup window to add a new post -->
							<a (click)="triggerModal(postModal)" let>Create Post</a>
							<ng-template #postModal let-modal>
								<app-add-post id="modal" (postSubmitted)="closeModal()">
									<div class="modal-footer">
										<button type="button" class="btn btn-danger"
											(click)="modal.close('Save click')">Close</button>
									</div>
								</app-add-post>
							</ng-template>
						</li>
						<li>
							<a routerLink="/editProfile">
								Profile Settings </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
			<div class="profile-content d-flex justify-content-center">
				<!-- Posts -->
				<app-posts></app-posts>
			</div>
		</div>
	</div>