<div class="container">
    <h1>WarRoom</h1>
    <nav class="align-right">
        <button>
            <a *ngIf="!getToken()" routerLink="login" routerLinkActive="active">login</a>
        </button>
        <button>
            <a *ngIf="!getToken()" routerLink="signup" routerLinkActive="active">signup</a>
        </button>
        <button>
            <a routerLink="profile" routerLinkActive="active">profile</a>
        </button>
        <button>
            <a (click)="logout()">Logout</a>
        </button>
    </nav>
</div>
<!-- Add to the profile button to hide when not logged in 
 *ngIf="getToken()" 
 *ngIf="getToken()" -->