<div class="container justify-content-around">
    <div class="col-md-4 col-sm-6" id="wrap" *ngFor="let user of users">
        <!-- each card is an individual user -->
        <div id="card" class="card">
            <div class="profile-pic justify-content-between">
                <img src="/assets/img/edward-cisneros-QSa-uv4WJ0k-unsplash-warRoom.jpg" class="img-responsive"
                    alt="people worshipping" style="width:100px;height:75px;">
                </div>
                <div class="card-header"> 
                 <p><strong>Name:</strong> {{user.firstName}} {{user.lastName}}</p>
                <p><strong>Username:</strong> {{user.username.toUpperCase()}}</p>
                <p><strong>Email:</strong> {{user.email}}</p>
            </div>
        </div>
    </div>
</div>