#wrap {
  /* background-image: linear-gradient(#eaf2ef, #cde7de); */
  /* -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3); */
  /* box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3); */
  border-radius: 6px;
  flex-wrap: wrap;
  display:flex;
  margin: 25px;
}

.container{
  flex-wrap: wrap;
  display:flex
}

p {
  padding: .2em;
}
p:hover{
  background-color: rgba(0, 0, 0, 0.062);
  border-radius: 6px;
}

img{
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.card-header {
  font-size: large;
  background-image: linear-gradient(#eaf2ef, #cde7de);
}
.card {
  margin: 1em auto;
  width: 100%;
  border-radius: 6px;
  justify-content: center;
}

#card {
  background-color: rgb(226, 225, 225);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  display:flex;
}
