<div id="wrapper" class="row justify-content-center mt-5">
    <div id="stuff" class="shadow-sm p-3 mb-5 bg-white rounded">
        <form [formGroup]="postForm" (ngSubmit)="onSubmit(content)">
          <div class="form-group ">
            <label><strong>Title</strong></label>
            <input class="form-control" type="text" formControlName="title" placeholder="Title">
          </div>
  
          <div class="form-group">
            <label><strong>Body</strong></label>
            <textarea class="form-control text-body" type="text" formControlName="body" placeholder="Type Here..."></textarea>
          </div>
          <br>
          <div class="form-group">
            <button class="btn btn-primary btn-block float-end" type="submit">Post</button>
          </div>
        </form>
    </div>
  </div>