<!-- creating the layout for how a individual post will look -->
  <div class="card" *ngFor="let post of posts; let i = index">
    <div class="card-header">
      <!-- want to be able to grab the posters username and display above the post -->
      {{post.title}}
    </div>
    <div class="card-block">
      <p>{{post.body}}</p>
      <button type="button" class="btn btn-outline-info mr-1" routerLink="/editPosts/{{post._id}}">Edit</button>
      <button type="button" class="btn btn-outline-danger mr-1" (click)="onDelete(post._id, i)">Delete</button>
    </div>
  </div>
