<div class="container">
	<div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-pic">
					<img src="/assets/img/edward-cisneros-QSa-uv4WJ0k-unsplash-warRoom.jpg" class="img-responsive"
						alt="people worshipping" style="width:100px;height:75px;">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{currentUser.firstName}} {{currentUser.lastName}}
					</div>
					<div class="profile-usertitle-username">
						{{currentUser.username}}
					</div>
					<div class="profile-usertitle-name">
						{{currentUser.email}}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR MENU -->
				<div class="userOptions">
					<ul class="nav">
						<li class="active">
							<a routerLink="/editPosts">
								<i class="glyphicon glyphicon-edit"></i>
								Create Posts</a>
						</li>
						<li>
							<a routerLink="/editProfile/:id">
								<i class="glyphicon glyphicon-user"></i>
								Profile Settings </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
			<div class="profile-content">
				<h2>My Posts</h2>
				<!--
					<app-posts *ngFor="let post of posts" [post]="currentuser.post"></app-posts>
				
				<div class="list-responsive">
					<dl class="list list-bordered">
						<dt *ngFor="let post of Posts; let i = index">{{post.currentUserName}}</dt>
						<dd *ngFor="let post of Posts; let i = index">{{post.post}}</dd>
					</dl>
				</div>
				-->
			</div>
		</div>
	</div>